h1    {color: rgb(0, 174, 255);
       width: fit-content;
       margin: 0 auto;
       font-size: 60px;
      background-color: rgb(79, 47, 72);}
.r   { background-color: rgb(189, 65, 65);
       border-radius: 80px;
       height: 400px;}
.h   {background-color: rgb(19, 143, 75);
       height: 400px;
     border-radius: 80px;}
img  {height: 300px;
     width: px;
    margin-left: 1200px;}
.o {margin-top: -250px;
   margin-left: 760px;
font-size: 60Px;}
.k {margin-top: 50px;}
.g {background-color: blue;
   height: 400px;
   border-radius: 80px;}
.l {margin-top: 50px ;}
.n {background-color: rgb(0, 191, 255); 
   border-radius: 80px;
   height: 400px;}
.d {margin-top: 50px;}
h2 {color: chartreuse;
   margin-left: 100;}
.e {margin-left: 550px;
   margin-top: -50px;
   font-size: 20px;}
.m {
margin-top: -250px;
   margin-left: 760px;
font-size: 60Px;    }
.z {margin-left: 520px;
   margin-top: -50px;
   font-size: 20px;}


.q{
       width: 600px;
       height: 40px;
       background-color: aliceblue;
       display: flex;
       justify-content: center;
       border-radius: 50px;
       margin-left: 500px;
}
.hh{
       margin-top: -250px;
   margin-left: 500px;
font-size: 60Px;    
}
.dd{
   
   
   border-radius: 50px;
   margin-top: -250px;
   margin-left: 450px;
   font-size: 60px;
    width: fit-content;
       margin: 0 auto;
       margin-top: -250px;

}
.ff{
   background-color: rgb(126, 23, 88);
   height: 400px;
   border-radius: 50px;

}
.ppp{
   margin-top: 39px;

}
.qq{
   margin-left: 700px;
   margin-top: -10px;
   font-size: 20px;}
.bb{
   background-color: rebeccapurple;
   height: 400px;
   border-radius: 50px;


}
.kk{
   margin-top: 39px;

}
.am{
   border-radius: 50px;
   margin-top: -250px;
   margin-left: 450px;
   font-size: 60px;
    width: fit-content;
       margin: 0 auto;
       margin-top: -250px;

}
.daw{
    margin-left: 700px;
   margin-top: -10px;
   font-size: 20px;

}
.amaar{
   background-color: gold;
   height: 400px;
   border-radius: 50px;
}
.adm{
   background-color: darkorange;
   height: 400px;
   border-radius: 50px;
}



.ghh{
   
      border-radius: 50px;
      width: 150px;
      height: 250px;
      margin-left: 20px;
      margin-right: 30px;
      margin-top: 50px;
}



.wwe{
     display: flex;
      justify-content: center;

margin-left: 4px;
background-color: fuchsia;
height: 400px;
border-radius: 50px;

}
.games{
   display: flex;
   justify-content: center;
background-color: olive;
height: 400px;
border-radius: 50px;
margin-top: -20px;


}
.llk{
   margin-right: 50px;
   margin-left: 50px;
   width: 150px;
   margin-top: 50px;

}
.jhh{
   font-size: 50px;
}
.ggf{
    background-color: rgb(19, 143, 75);
       height: 400px;
     border-radius: 80px;

}
.ssd{
   background-color: darkslategray;
       height: 400px;
     border-radius: 80px;

}
/*هذه لعبه fc24*/
.ffg{
   background-color: rgb(60, 47, 79);
       height: 400px;
     border-radius: 80px;

}
.sr{
   display: flex;
   justify-content: center;
   height: 950px;
   background-color: brown;
   border-radius: 50px;
}

.yyy{
   height: 900px;
   width: 200px;
   margin-left: 30px;
   margin-right: 30px;
   background-color: black;

}
.hhh{
   margin-left: 0px;
   width: 200px;
}
.aw{
    display: flex;
   justify-content: center;
   height: 950px;
   background-color: midnightblue;
   border-radius: 50px;

}
.p123{
   margin-left: 210px;
}
.sds{
    background-color: dimgrey;
   border-radius: 50px;


}


